**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/.DS_Store
**/node_modules

docs/
README.md
LICENSE

**/.dockerignore
**/docker-compose*
**/Dockerfile*

**/secrets.dev.yaml
**/values.dev.yaml
**/charts
**/sdks
**/.toolstarget

**/*.md
!README.md

tests/
**/*Tests/
**/*.Tests/

*.log
*.bak
*.tmp
*.temp

