
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

.vscode/

.idea/

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww]in32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml
nunit-*.xml

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

_TeamCity*

*.dotCover

_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

*.snupkg

**/[Pp]ackages/*

*.nuget.props
*.nuget.targets

csx/
*.build.csdef

ecf/
rcf/

AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

*.[Cc]ache
!?*.[Cc]ache/

ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

docker-compose.override.yml


docs/
.cursor/

*.bak
*.tmp
*.temp
*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

